<div class="container-alert" *ngIf="alertsSuccess.length > 0" style="margin-top: 2rem;">
  <div style="display: inline-block">
    <div class="row" style="padding: 0.3rem">
      <div
        class="alert alert-success"
        role="alert"
        *ngFor="let alertSuccess of alertsSuccess"
      >
        {{ alertSuccess }}
        <button class="btn" (click)="closeAlertError()">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <br />
</div>

<div class="container-alert" *ngIf="alertsErrs.length > 0" style="margin-top: 2rem;">
  <div style="display: inline-block">
    <div class="row" style="padding: 0.3rem">
      <div
        class="alert alert-danger"
        role="alert"
        *ngFor="let alertErr of alertsErrs"
      >
        {{ alertErr }}
        <button class="btn" (click)="closeAlertError()">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <br />
</div>
