<div id="dashboard" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-6 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-4">
                <div>
                  <img
                    src="../../assets/img/clients.png"
                    alt="Clientes"
                    style="width: 50px; height: 50"
                  />
                </div>
              </div>
              <div class="col-8">
                <div class="font-weight-bold text-uppercase text-left">
                  {{ totalClients }}
                </div>
                <div class="text-lowercase">Total de Clientes</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-12">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-4">
                <div>
                  <img
                    src="../../assets/img/pacotes.png"
                    alt="Clientes"
                    style="width: 50px; height: 50"
                  />
                </div>
              </div>
              <div class="col-8">
                <div class="font-weight-bold text-uppercase text-left">
                  {{ totalStock }}
                </div>
                <div class="text-lowercase">Total no Estoque</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-12">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-4">
                <div>
                  <img
                    src="../../assets/img/economizando-dinheiro.png"
                    alt="Clientes"
                    style="width: 50px; height: 50"
                  />
                </div>
              </div>
              <div class="col-8">
                <div class="font-weight-bold text-uppercase text-left">
                  R$ 250,00
                </div>
                <div class="text-lowercase">Valor em Caixa</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-12">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-4">
                <div>
                  <img
                    src="../../assets/img/movimentacoes.png"
                    alt="Clientes"
                    style="width: 50px; height: 50"
                  />
                </div>
              </div>
              <div class="col-8">
                <div class="font-weight-bold text-uppercase text-left">
                  <i class="fas fa-arrow-up"></i
                  ><i class="fas fa-arrow-down"></i>
                </div>
                <div class="text-lowercase">Movimentações</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row graphs">
      <div class="col-xl-6 col-md-6 mb-12">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="align-items-center">
              <div>
                <canvas
                  baseChart
                  [data]="polarAreaChartData"
                  [labels]="polarAreaChartLabels"
                  [legend]="polarAreaLegend"
                  [chartType]="polarAreaChartType"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 mb-12">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="align-items-center">
              <div>
                <canvas
                  baseChart
                  [data]="polarAreaChartData"
                  [labels]="polarAreaChartLabels"
                  [legend]="polarAreaLegend"
                  [chartType]="polarAreaChartType"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-card style="background-color: white">
      <div class="table table-hover">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>
</div>
