<div class="container-fluid">
  <div class="container">
    <form
      [formGroup]="formProduct"
      class="example-form"
      #formDirective="ngForm"
      (ngSubmit)="addProduct(formDirective)"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex. Arroz" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Preço</mat-label>
        <input
          type="number"
          matInput
          placeholder="Ex. 100"
          formControlName="price"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Quantidade</mat-label>
        <input matInput type="number" placeholder="10" formControlName="quantity" />
      </mat-form-field>
      <div class="row">
        <div class="col d-flex justify-content-start align-items-center">
          <button mat-raised-button type="button" (click)="onNoClick()">
            Fechar
          </button>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!formProduct.valid"
            type="submit"
          >
            {{ selectedProduct === undefined ? "Cadastrar" : "Editar" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
