#cashier {
  margin-top: 1rem;
}
.progress {
  height: 5px;
  width: 210px;
  margin-left: 1rem;
}

#cashierValue {
  font-weight: bolder;
  font-size: large;
  margin-top: 1rem;
}
.border-radius {
  border-radius: 20px;
}
.pointer{
  cursor: pointer;
}
