#pdv {
  margin-top: 3rem;
}

#card-sub-total {
  background-color: #47a08f;
  table {
    color: #ffffff;
    align-items: center;
    text-align: center;
  }
}
.input-group img {
  width: 23px;
  height: 23px;
}

.padding {
  padding: 0.7rem;
}

.border-padding {
  border-bottom: solid 1px #ffffff;
  padding: 1rem;
}

#btn-finish {
  margin-top: 1rem;
  background-color: #43b39e;
  color: #ffffff;
  width: 21.5rem;
}
