#form-pdv {
  margin-top: 3rem;
}

#card-sub-total {
  mat-card {
    background-color: #47a08f;
  }
}
.input-group img {
  width: 23px;
  height: 23px;
}

.padding {
  padding: 0.7rem;
}

.border-padding {
  border-bottom: solid 1px #ffffff;
  padding: 0 0 1rem 0;
}

#btn-finish {
  margin-top: 1rem;
  background-color: #43b39e;
  color: #ffffff;
  width: 21.5rem;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

#discount {
  background-color: #47a08f;
  height: 1.5rem;
}
